@use "../utils/variables" as var;
@use "../layout/flex" as flx;
nav {
  background-color: var.$bg-darkBlue;
  position: sticky;
  top: 0;
  z-index: 999;
  .nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 30px;
    .nav-logo {
      img {
        max-width: 100%;
      }
      #hamburger {
        font-size: 30px;
        color: var.$text-white;
        display: none;
      }
    }
    .nav-menu {
      display: flex;
      align-items: center;
      gap: 40px;
      li {
        a {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          color: var.$text-white;
          text-decoration: none;
        }
        button {
          background-color: var.$bg-darkBlue;
          padding: 16px 48px;
          border-radius: 41px;
          border: 2px solid rgba(244, 246, 252, 0.2);
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          transition: 0.5s;
          &:hover {
            background-color: rgb(0, 0, 0);
            cursor: pointer;
            box-shadow: rgba(8, 8, 155, 0.47) 0px 50px 100px -20px,
              rgba(255, 254, 254, 0.411) 0px 30px 60px -30px,
              rgb(255, 254, 254, 0.411) 0px -2px 6px 0px inset;
          }
        }
      }
    }
  }
}
@media (max-width: 826px) {
  .nav-1 {
    flex-direction: column;
  }
  .nav-menu {
    flex-direction: column;
  }
}
@media (max-width: 686px) {
  .nav-menu {
    flex-direction: column;
    gap: none;
  }
}
